@font-face {
	font-family: Aleo-bold-italic;
	font-display: swap;
	src: url("../fonts/Aleo-BoldItalic.woff2") format("woff2"), url("../fonts/Aleo-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Aleo-regular-italic;
	font-display: swap;
	src: url("../fonts/Aleo-Italic.woff2") format("woff2"), url("../fonts/Aleo-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Aleo-regular;
	font-display: swap;
	src: url("../fonts/Aleo-Regular.woff2") format("woff2"), url("../fonts/Aleo-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Aleo-bold;
	font-display: swap;
	src: url("../fonts/Aleo-Bold.woff2") format("woff2"), url("../fonts/Aleo-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Magra-bold;
	font-display: swap;
	src: url("../fonts/Magra-Bold.woff2") format("woff2"), url("../fonts/Magra-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RedHatText-medium;
	font-display: swap;
	src: url("../fonts/RedHatText-Medium.woff2") format("woff2"), url("../fonts/RedHatText-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RedHatText-regular;
	font-display: swap;
	src: url("../fonts/RedHatText-Regular.woff2") format("woff2"), url("../fonts/RedHatText-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
